<html>

<div class="ghibli-background">

<center> <h1> Welcome to my Ghibli API </h1> </center>

<center> <p><%= button_to "View all Movies", movies_path, method: :get %></p> </center>

</div>

</html>